.container {
  max-width: 100%;
}

.header h3 {
  font-size: 31px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
}

.selectOptionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  margin-top: 24px;
}

.selectOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.selectOptions select {
  font-size: 16px;
  margin: 0;
  appearance: none;
  outline: none;
  background-color: #e5d5f9;
  font-family: Inter;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  width: 100%;
}

.selectOptions option {
  font-size: 16px;
  margin: 12px 16px;
  border: none;
  background-color: #fff;
  color: #120f28;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  text-align: center;
}

.selectBox {
  width: 180px;
  height: 40px;
  padding: 9px 11px;
  border-radius: 19px;
  border: 1px;
  opacity: 0px;
  background-color: #e5d5f9;
  box-shadow: 0px 3px 6px 0px #120f281f;
  margin-right: 32px;
}

.selectOptions p {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  color: #bdc1ca;
}

.accountSummary {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.summaryContainer {
  margin-top: 31px;
  width: 362px;
  height: 302px;
  top: 84px;
  left: 31px;
  gap: 0px;
  border-radius: 12.06px;
  opacity: 0px;
  padding: 21px;
}

.accountSummary strong {
  font-size: 17px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}

.accountSummary p {
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #8c44e3;
}

.accountSummary .valueStyle {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.accountSummary .valueStyle span {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #acbbdd;
}

.breakdown {
  width: 100%;
  height: 300px;
  top: 407px;
  left: 32px;
  gap: 0px;
  border-radius: 12.06px;
  background: #f3f3f2;
  box-shadow: 0px 0px 1px 0px #171a1f12;
  box-shadow: 0px 0px 2px 0px #171a1f1f;
  padding: 18px 27px;
}

.breakdown p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}

.btn {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}
