.container {
  width: 560px;
  height: 213px;
  border-radius: 13.09px;
  background-color: #f2f0f3;
  box-shadow: 0px 0px 1px 0px #171a1f12;
  box-shadow: 0px 0px 2px 0px #171a1f1f;
  padding: 16px 24px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.header p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #bdc1ca;
}

.headlessTable {
  width: 100%;
  border-collapse: collapse;
  border-radius: 4px;
}

.headlessTable td {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  padding: 8px 42px 8px 0px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
